JWT_SECRET="s3cr3tK3yF0rJWT!12345"
JWT_EXPIRATION_ACCESS=3600
JWT_EXPIRATION_REFRESH=86400
APP_NAME=Order
APP_PORT=20000
DB_HOST=localhost
DB_NAME=meta2
DB_USER=postgres
DB_PORT=5000
DB_PASSWORD=postgres
DB_TYPE=postgres

RABBIT_URI=amqp://guest:guest@localhost:5672/

REDIS_PASSWORD=password
REDIS_PORT=6379

SENTRY_DSN=https://key@sentry.io/order